table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
  }

tr,
th
 {
    border: 1px solid rgb(190, 190, 190);
    padding: 25px;
}
td{
	border: 1px solid rgb(190, 190, 190);
    padding: 20px;
    background-color: rgb(102, 102, 102);
}